<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="toggle_module_command" xsi:type="object">Sifuen\SuppressOutOfDateDb\Console\Command\ToggleModule</item>
            </argument>
        </arguments>
    </type>

    <!-- Override original DbStatusValidator (the class that throws the exception) so we can -->
    <!-- disable it only when the module is enabled. -->
    <preference for="Magento\Framework\Module\Plugin\DbStatusValidator"
                type="Sifuen\SuppressOutOfDateDb\Framework\Module\Plugin\DbStatusValidator" />
</config>
